  body {
	color: #180d00;
  	background: #ffddbb;
	}	
h1 {
  color: 311a00;
  background-color: #f4a460;
  font: Arial 2em;
 
}
h2 {
  color: 642600;
  background-color: #f0b27a;
  font: Tahoma 2em;
}

p {
	font: arial;
  padding: 30 px;
  }
 .text1 {
	 float: left;
	 width: 45%;
 }
   .picture1 {
float:right;
margin: 0px 10px;
}
.pimg {
font-family: sans-serif;
font-style: italic;
font-size: 80%;
}
.table { 
float: left;;
}
.name { font-size: 110%; }
 p.definition {
    
	border:1px solid #808080;
	padding: 10px;
	}